@font-face {
  font-family: "LL Circular";
  src: url(../fonts/ll-circular.otf); }
body {
  transition: 0.5s;
  background: #fff;
  font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body h1, body h2 {
    font-size: 52px;
    font-weight: 700; }
  body p {
    font-weight: 400; }
  body a {
    text-decoration: none; }
  body img {
    max-width: 100%; }
  body .center {
    text-align: center; }
  body .wrapper {
    max-width: 1000px;
    display: block;
    margin: 0 auto; }
  body .hidden-lg {
    display: none; }
  body .hidden-sm {
    display: none; }
  body .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #00B2E3;
    background-color: #00B2E3;
    color: #fff;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
    min-width: 155px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    text-align: center !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    appearance: none !important;
    border-radius: 999px !important;
    padding: 13px 15px 15px !important;
    cursor: pointer !important;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif !important;
    font-size: 18px !important;
    color: #ffffff !important;
    letter-spacing: 0 !important;
    line-height: 1 !important;
    font-weight: 700 !important;
    transition: all 0.35s cubic-bezier(0, 0, 0, 1) !important;
    margin-top: 15px;
    box-sizing: border-box !important; }

.nav-mobile .visible-nav {
  position: absolute;
  width: 100vw; }
  .nav-mobile .visible-nav .logo {
    width: 101px; }
  .nav-mobile .visible-nav .cart-button {
    float: right; }
    .nav-mobile .visible-nav .cart-button img {
      width: 24px;
      height: 23px; }
.nav-mobile .slide-menu {
  width: 300px;
  height: 101vh;
  left: -300px;
  z-index: 1000;
  position: fixed;
  background: #FCE200;
  color: #003DA6;
  transition: 0.5s; }
  .nav-mobile .slide-menu .open-button, .nav-mobile .slide-menu .close-button {
    cursor: pointer; }
  .nav-mobile .slide-menu .open-button {
    transition: 0.5s; }
  .nav-mobile .slide-menu .close-button {
    float: right; }
  .nav-mobile .slide-menu ul {
    list-style: none; }
    .nav-mobile .slide-menu ul li a {
      font-size: 20px; }
.nav-mobile .menu-open {
  left: 0; }

.page-open {
  margin-left: 300px;
  transition: 0.5s; }
  .page-open .page-container {
    width: 100vw;
    overflow: hidden !important; }

.nav-desktop {
  width: 100vw;
  height: 71px;
  position: absolute; }
  .nav-desktop img {
    width: 101px; }
  .nav-desktop .wrapper {
    height: 100%; }
    .nav-desktop .wrapper .inner {
      padding: 12px 20px 0 20px; }
      .nav-desktop .wrapper .inner ul {
        padding: 0 0 0 12px;
        margin: 0;
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        float: right;
        top: 50%;
        transform: translateY(-50%); }
        .nav-desktop .wrapper .inner ul li {
          margin-left: 44px;
          position: relative; }
          .nav-desktop .wrapper .inner ul li a {
            color: #003DA6;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center; }
            .nav-desktop .wrapper .inner ul li a img {
              width: 24px;
              height: 21px; }
            .nav-desktop .wrapper .inner ul li a:hover {
              color: #00B2E3; }

.hero {
  background-image: url("../img/lemon-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: #fff;
  transition: 0.5s; }
  .hero h1:after {
    content: 'TM';
    display: inline-block;
    font-size: 5px;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    vertical-align: top;
    margin-left: -19px;
    right: 0;
    top: 50px;
    position: relative;
    width: 0; }
  .hero h1 span {
    color: #00B2E3; }

.content {
  background: #FCE200; }
  .content .container {
    max-width: 1000px;
    display: block;
    margin: 0 auto; }
  .content h3 {
    text-transform: uppercase;
    font-size: 16px; }
  .content h3, .content h4, .content p, .content span, .content h5 {
    color: #003DA6; }
  .content h2, .content h3, .content h4, .content span {
    font-weight: 700; }
  .content h5 {
    font-weight: 500; }
  .content h4, .content h5, .content p {
    letter-spacing: 0;
    line-height: 1.33;
    font-size: 16px; }
  .content span {
    font-size: 13px;
    width: 98%;
    text-align: center; }
  .content h2 {
    color: #fff;
    font-size: 32px;
    max-width: none;
    line-height: 1;
    margin: 0; }
  .content .tm:after {
    content: 'TM';
    display: inline-block;
    font-size: 5px;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    vertical-align: top;
    margin-left: -25px;
    right: 0;
    top: 16px;
    position: relative;
    width: 0; }
  .content p {
    font-weight: 400; }
  .content .img-in-circle {
    width: 100%; }
    .content .img-in-circle .img-in-circle-inner {
      width: 45vw;
      height: 45vw;
      background: #00B2E3;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      will-change: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      pointer-events: none;
      z-index: 1;
      max-width: 270px;
      max-height: 270px; }
      .content .img-in-circle .img-in-circle-inner img {
        display: block;
        position: absolute;
        bottom: -88px;
        max-width: 97%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden; }
  .content .white-circle {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 128px;
    width: 128px;
    margin: 0 9px 18px 9px; }
  .content .our-lemons-row {
    padding-bottom: 96px; }
  .content .product-row, .content .process-row {
    padding: 96px 0; }
  .content .process-row img {
    position: absolute;
    right: 0;
    max-width: 95%; }

.white-bg {
  background: #fff;
  padding: 0 20px; }
  .white-bg .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; }
  .white-bg h5 {
    color: #003DA6;
    font-weight: 500;
    font-size: 20px; }
  .white-bg img {
    width: 100%;
    max-width: 417px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

footer {
  background-color: #FCE200;
  color: #003DA6;
  padding: 220px 20px 80px 20px; }
  footer .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; }
  footer h3 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 10px; }
  footer p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px; }
  footer ul {
    list-style-type: none;
    padding: 0; }
    footer ul a {
      color: #003DA6;
      font-size: 18px; }
      footer ul a:hover {
        color: #00B2E3; }
    footer ul li + li {
      margin-top: 19px; }
    footer ul li ul {
      margin: 30px 0; }
      footer ul li ul li {
        display: inline-flex; }
        footer ul li ul li:first-child {
          margin-right: 13px; }
      footer ul li ul li + li {
        margin: 0 13px; }
  footer form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    background-color: #FCE200;
    border-bottom: 2px solid #003DA6;
    padding: 15px 0;
    font-size: 16px;
    width: 100%;
    max-width: 315px; }
    footer form input::placeholder {
      color: #b4bbc3;
      font-weight: 500;
      font-family: "LL Circular", "Arial", "Helvetica", sans-serif; }
  footer form .button {
    margin-top: 30px; }
  footer span {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.6; }

@media only screen and (max-width: 913px) {
  .hero h1 {
    text-align: left;
    padding-left: 20px;
    line-height: 0.90; }
    .hero h1:after {
      top: 30px; } }
@media only screen and (min-width: 768px) {
  body .hidden-sm {
    display: block; }
  body .nav-mobile {
    display: none; }
  body .hero {
    min-height: 90vh; }
    body .hero .inner {
      padding: 140px 0;
      margin-top: 71px; }
      body .hero .inner h1 {
        font-size: 96px;
        margin: 79px 0; }
        body .hero .inner h1:after {
          font-size: 7px; }

  .content {
    padding: 75px 0; }
    .content .container {
      padding: 0 20px; }
    .content h3 {
      font-size: 16px; }
    .content h2 {
      font-size: 64px; }
    .content p, .content h4, .content h5 {
      font-size: 24px; }
    .content span {
      font-size: 18px; }
    .content .img-in-circle .img-in-circle-inner {
      max-width: 463px;
      max-height: 463px;
      transform: translateY(-125px); }
    .content .process-row img {
      max-width: 45%; }

  footer h3 {
    font-size: 24px; }
  footer p {
    font-size: 18px; }
  footer ul li a {
    font-size: 20px; }

  .white-bg h5 {
    font-size: 24px; } }
@media only screen and (max-width: 767px) {
  body .hidden-sm {
    display: none; }
  body .hidden-lg {
    display: block; }
  body .nav-desktop {
    display: none; }
  body .hero {
    min-height: 60vh; }
    body .hero h1 {
      text-align: center;
      margin-top: 25%; } }
@media only screen and (max-width: 536px) {
  .hero {
    text-align: left; } }

/*# sourceMappingURL=app.css.map */
