
//Colors
$yellow: #FCE200;
$turquoise: #00B2E3;
$navy: #003DA6;
$white: #fff;
$grey: #b4bbc3;

//Import fonts
@font-face {
  font-family: "LL Circular";
  src: url(../fonts/ll-circular.otf);
}

//General styles
.col-xs-6, .col-sm-6, .col-xs-12 {
  // padding: 0;
}

body {
  transition: 0.5s;
  background: $white;
  font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  h1, h2 {
    font-size: 52px;
    font-weight: 700;
  }
  p {
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .center {
    text-align: center;
  }
  .wrapper {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }
  .hidden-lg {
    display: none;
  }
  .hidden-sm {
    display: none;
  }
  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid $turquoise;
    background-color: $turquoise;
    color: $white;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
    min-width: 155px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    text-align: center !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    appearance: none !important;
    border-radius: 999px !important;
    padding: 13px 15px 15px !important;
    cursor: pointer !important;
    font-family: "LL Circular", "Arial", "Helvetica", sans-serif !important;
    font-size: 18px !important;
    color: #ffffff !important;
    letter-spacing: 0 !important;
    line-height: 1 !important;
    font-weight: 700 !important;
    transition: all 0.35s cubic-bezier(0, 0, 0, 1) !important;
    margin-top: 15px;
    box-sizing: border-box !important;
  }
}

// Mobile nav
.nav-mobile {
  .visible-nav {
    position: absolute;
    padding: 8px 0;
    width: 100vw;
    height: 40px;
    .logo {
      width: 72px;
      display: block;
      margin: 0 auto;
    }
    .open-button {
      margin-left: 20px;
      padding: 10px 0;
    }
    .cart-button {
      float: right;
      margin-right: 20px;
      padding: 10px 0;
      img {
        width: 24px;
      }
    }
  }
  .slide-menu {
    width: 300px;
    height: 101vh;
    left: -300px;
    z-index: 1000;
    position: fixed;
    background: $yellow;
    color: $navy;
    transition: 0.5s;
    .open-button, .close-button {
      cursor: pointer;
    }
    .open-button {
      transition: 0.5s;
    }
    .close-button {
      float: right;
      margin: 20px 20px 0 0;
    }
    ul {
      padding-left: 20px;
      list-style: none;
      margin-top: 80px;
      li {
        a {
          color: $navy;
          font-size: 20px;
        }
      }
      li+li {
        margin-top: 12px;
      }
    }
  }
  .menu-open {
    left: 0;
  }
}

.page-container {
  width: 100vw;
  overflow: hidden !important;
}

.page-container-inner {
  transition: 0.5s;
}

.page-open {
  width: 100vw;
  display: block !important;
  position: relative;
  margin-left: 300px;
  transition: 0.5s;
}

//Desktop nav
.nav-desktop {
  width: 100vw;
  height: 71px;
  position: absolute;
  img {
    width: 101px;
  }
  .wrapper {
    height: 100%;
    .inner {
      padding: 12px 20px 0 20px;
      ul {
        padding: 0 0 0 12px;
        margin: 0;
        list-style: none;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        float: right;
  top: 50%;
  transform: translateY(-50%);
        li {
          margin-left: 44px;
          position: relative;
          a {
            color: $navy;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            align-items: center;
            img {
              width: 24px;
              height: 21px;
            }
            &:hover {
              color: $turquoise;
            }
          }
        }
      }
    }
  }
}

//Hero styles
.yellow-overlay {
  height: 90vh;
  min-height: 615px;
  width: 100%;
  background-color: $yellow;
  // opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero {
  background-image: url('../img/lemon-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: $white;
  transition: 0.5s;
  h1 {
    // margin: 43px 0;
    // position: relative;
    // top: 50%;
    // transform: translateY(-0%);
    &:after {
      content: 'TM';
      display: inline-block;
      font-size: 5px;
      font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
      font-weight: 700;
      vertical-align: top;
      margin-left: -19px;
      right: 0;
      top: 50px;
      position: relative;
      width: 0;
    }
    span {
      color: $turquoise;
    }
  }
}

// .yellow {
//   background-image: none;
//   background-color: $yellow;
//   transition: 1s;
// }


// Main content styles
.content {
  background: $yellow;
  .wrapper {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }
  h3 {
    text-transform: uppercase;
    font-size: 16px;
  }
  h3, h4, p, span, h5 {
    color: $navy;
  }
  h2, h3, h4, span {
    font-weight: 700;
  }
  h5 {
    font-weight: 500;
  }
  h4, h5, p {
    letter-spacing: 0;
    line-height: 1.33;
    font-size: 16px;
  }
  span {
    font-size: 13px;
    width: 98%;
    text-align: center;
  }
  h2 {
    color: $white;
    font-size: 32px;
    max-width: none;
    line-height: 1;
    margin: 0;
  }
  .tm {
    &:after {
      content: 'TM';
      display: inline-block;
      font-size: 5px;
      font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
      font-weight: 700;
      vertical-align: top;
      margin-left: -25px;
      right: 0;
      top: 16px;
      position: relative;
      width: 0;
    }
  }
  p {
    font-weight: 400;
  }
  .img-in-circle {
    width: 100%;
    .img-in-circle-inner {
      width: 45vw;
      height: 45vw;
      background: #00B2E3;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      margin: 0 auto;
      will-change: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      pointer-events: none;
      z-index: 1;
      max-width: 270px;
      max-height: 270px;
      margin-top: -75px;
      img {
        display: block;
        position: absolute;
        bottom: -48px;
        max-width: 97%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }
  .white-circle {
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 128px;
    width: 128px;
    margin: 0 9px 18px 9px;
    opacity: 0;
  }
  .fade-in {
    margin-top: 30px;
    opacity: 0;
  }
  .in-view {
    opacity: 1;
    transition: 1s ease;
    margin-top: 0;
  }
  .fade-2.in-view {
      transition-delay: 0.2s;
    }

  .fade-3.in-view {
      transition-delay: 0.4s;
    }
  .our-lemons-row {
    padding-bottom: 96px;
  }
  .product-row, .process-row {
    padding: 96px 0;
  }
  .process-row {
    img {
      position: absolute;
      right: 0;
      max-width: 95%;
    }
  }
}

// Seal section styles
.white-bg {
  background: $white;
  padding: 0 20px;
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  h5 {
    color: $navy;
    font-weight: 500;
    font-size: 20px;
  }
  img {
    width: 100%;
    max-width: 417px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// circle fixed on scroll
.fixed-circle {
  position: fixed;
  left: 260px;
  // left: 25%;
  top: 190px;
  width: auto;
  .img-in-circle-inner {
    margin: auto;
    transition: 0.5s;
  }
}

@media (min-width: 768px) and (max-width: 999px) {
  .content .img-in-circle .img-in-circle-inner {
    position: absolute !important;
    right: 24px;
    width: 42vw;
    height: 42vw;
  }
  .content .img-in-circle {
    &.fixed-circle {
      position: fixed;
      // left: 260px;
      // left: auto;
      margin: 0;
      right: 16px;
      top: 190px;
      width: auto;
      .img-in-circle-inner {
        transition: 0.5s;
      }
    }
  }
}

.content {
  .process-row {
    .hand-squeezing-lemon {
      transition: 0.5s;
    }
  }
}

.fade-out {
  opacity: 0 !important;
  transition: 0.5s !important;
}





// Footer styles
footer {
  background-color: $yellow;
  color: $navy;
  padding: 80px 20px 80px 20px;
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  h3 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    a {
      color: $navy;
      font-size: 18px;
      &:hover {
        color: $turquoise;
      }
    }
    li+li {
      margin-top: 19px;
    }
    li {
      ul {
        margin: 30px 0;
        li {
          display: inline-flex;
          &:first-child {
            margin-right: 13px;
          }
        }
        li+li {
          margin: 0 13px;
        }
      }
    }
  }
  form {
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border: none;
      background-color: $yellow;
      border-bottom: 2px solid $navy;
      padding: 15px 0;
      font-size: 16px;
      width: 100%;
      max-width: 315px;
      &::placeholder {
        color: $grey;
        font-weight: 500;
        font-family: "LL Circular", "Arial", "Helvetica", sans-serif;
      }
    }
    .button {
      margin-top: 30px;
    }
  }
  span {
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 1.6;
  }
}




//Media queries
@media only screen and (max-width: 1034px) {
  .page-container {
    width: 102vw;
  }
  // .content .process-row .hand-squeezing-lemon {
  //   // right: -2vw;
  // }
}

@media only screen and (max-width: 700px) {
  .page-container {
    width: 104vw;
  }
  // .content .process-row .hand-squeezing-lemon {
  //   // right: -11vw !important;
  // }
}

@media (max-width: 1034px) {
  footer {
    ul {
      li {
        ul {
          li + li {
            margin: 0 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 913px) {
  .hero {
    h1 {
      text-align: left;
      padding-left: 20px;
      line-height: 0.90;
      &:after {
        top: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    .hidden-sm {
      display: block;
    }
    .nav-mobile {
      display: none;
    }
    .hero {
      height: 90vh;
      min-height: 615px;
      .inner {
        padding: 140px 0;
        margin-top: 71px;
        .hidden-sm {
          display: none;
        }
        h1 {
          font-size: 96px;
          margin: 79px 0;
          &:after {
            font-size: 7px;
          }
        }
      }
    }
  }
  .content {
    padding: 75px 0;
    .wrapper {
      padding: 0 20px;
    }
    h3 {
      font-size: 16px;
    }
    h2 {
      font-size: 64px;
    }
    p, h4, h5 {
      font-size: 24px;
    }
    span {
      font-size: 18px;
    }
    .img-in-circle {
      .img-in-circle-inner {
        max-width: 463px;
        max-height: 463px;
        transform: translateY(-55px);
        img {
          bottom: -88px;
        }
      }
    }
    .process-row {
      img {
        max-width: 45%;
      }
    }
  }
  footer {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    ul {
      li {
        a {
            font-size: 20px;
        }
      }
    }
  }
  .white-bg {
    h5 {
      font-size: 24px;
    }
  }
}

@media only screen and (max-width: 767px) {
  body {
    .col-xs-6, .col-xs-12 {
      padding: 0;
      margin: 0;
    }
    .wrapper {
      padding: 0 52px;
    }
    .content {
      h3 {
        margin-bottom: 5px;
      }
      .circle-row {
        max-width: 440px;
        .col-xs-4 {
          padding: 0;
        }
      }
      .process-row {
        padding-top: 0;
        margin-top: -45px;
        img {
          right: -30%;
          display: block;
          position: relative;
        }
      }
      .product-row {
        padding-top: 14px;
        img {
          width: 100%;
          max-width: 550px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .button {
      width: 100%;
    }
    .hidden-sm {
      display: none;
    }
    .hidden-lg {
      display: block;
    }
    .nav-desktop {
      display: none;
    }
    .hero {
      height: 60vh;
      min-height: 385px;
      h1 {
        text-align: center;
        margin-top: 25%;
      }
    }
  }
  .white-bg {
    text-align: center;
    padding-bottom: 18px;
    img {
      margin-top: -7px;
    }
  }
  footer {
    padding: 10px 0 80px 0;
    .footer-links {
      margin-top: 46px;
    }
  }
  .yellow-overlay {
    display: none;
  }
}

@media only screen and (max-width: 536px) {
  body {
    .wrapper {
      padding: 0 42px;
    }
    .hero {
      text-align: left;
      min-height: 430px;
      h1 {
        text-align: left;
        padding-left: 32px;
        margin-top: 178px;
      }
      .hidden-xs {
        display: none;
      }
      .hidden-sm {
        display: block;
      }
    }
    .circle-row {
      .white-circle {
        width: 28vw;
        height: 28vw;
        max-width: 134px;
        max-height: 134px;
        span {
          font-size: 13px;
        }
      }
    }
  }
}
